/* =========================
   NAVBAR
========================= */

.navbar {
  max-width: 1100px;
  height: 72px;
  margin: auto;
  padding: 0 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #eeeeee;

  position: sticky;
  top: 0;
  z-index: 50;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 17px;
  font-weight: 700;
}

.logo-icon {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 7px;

  color: white;
  font-size: 10px;

  background: linear-gradient(135deg, #ff4d5d, #c026d3);
}

.nav-links {
  display: flex;
  gap: 26px;
}

.nav-links a {
  color: #667085;
  text-decoration: none;
  font-size: 12px;
}

.nav-links a:first-child {
  color: #d62b9c;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sign-in {
  border: none;
  background: transparent;
  color: #475467;
  font-size: 12px;
}

.sign-up {
  border: none;
  border-radius: 20px;

  padding: 9px 17px;

  color: white;
  background: linear-gradient(90deg, #ff5360, #c026d3);

  font-size: 11px;
}

/* =========================
   BANNER
========================= */

.banner {
  max-width: 1100px;
  margin: auto;
  padding: 80px 60px;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.banner-text {
  max-width: 570px;
}

.banner-text h1 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.banner-text h1 span {
  background: linear-gradient(90deg, #ff4d4d, #d1269c, #7137e8);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.banner-text p {
  max-width: 540px;

  color: #667085;
  font-size: 13px;
  line-height: 1.7;

  margin-bottom: 25px;
}

.banner-buttons {
  display: flex;
  gap: 12px;
}

.explore-button,
.learn-button {
  padding: 11px 20px;
  border-radius: 6px;

  font-size: 11px;
}

.explore-button {
  text-decoration: none;
  color: white;

  background: linear-gradient(90deg, #ff5a4f, #d52b9c);
}

.learn-button {
  border: 1px solid #dddddd;
  background: white;
  color: #475467;
}

/* =========================
   BANNER ILLUSTRATION
========================= */
.banner {
  padding: 80px 0;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner-text {
  flex: 1;
}

.bannerStack {
  flex: 1;
}

.bannerStack img {
  width: 100%;
  max-width: 400px; /* img er size */
  height: auto;
}

/* Halka cikon dag */
.divider {
  border: none;
  height: 1px; /* onek cikon */
  background: linear-gradient(
    90deg,
    transparent,
    #a855f7,
    transparent
  ); /* purple halka */
  margin: 60px auto;
  width: 90%;
}

/* =========================
   TECHNOLOGY SECTION
========================= */

.technology-section {
  max-width: 1100px;
  margin: auto;
  padding: 20px 30px 90px;
}

.section-heading {
  margin-bottom: 25px;
}

.section-heading h2 {
  font-size: 28px;
  margin-bottom: 7px;
}

.section-heading h2 span {
  color: #cf2ca0;
}

.section-heading p {
  color: #98a2b3;
  font-size: 12px;
}

.content-wrapper {
  display: grid;

  grid-template-columns: 1fr 250px;

  gap: 18px;

  align-items: start;
}

.technology-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 15px;
}

/* =========================
   TECHNOLOGY CARD
========================= */

.technology-card {
  min-height: 235px;

  padding: 17px;

  border: 1px solid #eeeeee;
  border-radius: 10px;

  background: white;

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04);

  transition: 0.2s ease;
}

.technology-card:hover {
  transform: translateY(-3px);

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
}

.technology-icon {
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 27px;

  color: #3774d5;
}

.badge {
  padding: 4px 8px;

  border-radius: 20px;

  color: #9b45ca;
  background: #f8efff;

  font-size: 9px;
}

.technology-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.description {
  min-height: 54px;

  color: #667085;

  font-size: 10px;
  line-height: 1.55;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 5px;

  margin: 14px 0;

  color: #98a2b3;

  font-size: 9px;
}

.card-info span:last-child {
  text-align: right;
}

.add-button {
  width: 100%;

  border: none;
  border-radius: 6px;

  padding: 9px;

  color: white;
  background: #101828;

  font-size: 10px;

  transition: 0.2s;
}

.add-button:hover {
  background: #344054;
}

.add-button.added {
  background: #22a06b;
}

/* =========================
   YOUR STACK
========================= */

.stack-box {
  padding: 17px;

  border: 1px solid #eeeeee;
  border-radius: 10px;

  background: white;

  position: sticky;
  top: 20px;

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.03);
}

.stack-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 17px;
}

.stack-heading h3 {
  font-size: 15px;
}

.stack-heading p {
  color: #98a2b3;
  font-size: 9px;

  margin-top: 4px;
}

.stack-count {
  min-width: 27px;
  height: 27px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  color: #d1269c;
  background: #fce7f3;

  font-size: 11px;
}

.empty-stack {
  padding: 25px 5px;

  text-align: center;

  color: #98a2b3;

  font-size: 11px;
}

.empty-stack-border {
  padding: 20px;
  text-align: center;
  border: 1.5px dashed #d0d5dd;
  border-radius: 8px;
}

/*.empty-stack span {
  display: block;
  margin-top: 5px;

  font-size: 9px;
}*/

.selected-list {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.selected-item {
  min-height: 39px;

  padding: 7px 9px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #eeeeee;
  border-radius: 6px;

  background: #fafafa;
}

.selected-name {
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 10px;
}

.selected-name svg {
  font-size: 17px;
  color: #3774d5;
}

.remove-button {
  border: none;
  background: transparent;

  color: #98a2b3;

  font-size: 19px;
}

.remove-button:hover {
  color: #ef4444;
}

.remove-all {
  width: 100%;

  margin-top: 15px;

  padding: 9px;

  border: 1px solid #ffb4b4;
  border-radius: 6px;

  color: #ef4444;
  background: white;

  font-size: 10px;
}

/* =========================
   LOADING
========================= */

.page-loader {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: #667085;
}
/*.loading {
  min-height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #667085;
}

.spinner {
  width: 35px;
  height: 35px;

  margin-bottom: 12px;

  border: 4px solid #eeeeee;
  border-top-color: #c026d3;

  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

.loading p {
  font-size: 12px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

 =========================
   FOOTER
========================= */

.footer {
  border-top: 1px solid #eeeeee;

  padding: 45px 30px 20px;
}

.footer-content {
  max-width: 1100px;
  margin: auto;

  display: grid;

  grid-template-columns: 2fr 1fr 1fr 1fr;

  gap: 35px;
}

.footer-about p {
  max-width: 270px;

  margin: 14px 0;

  color: #98a2b3;

  font-size: 10px;
  line-height: 1.6;
}

.social-links {
  display: flex;
  gap: 15px;

  color: #667085;

  font-size: 9px;
}

.footer h4 {
  margin-bottom: 14px;

  font-size: 10px;
}

.footer-content > div:not(.footer-about) p {
  margin-bottom: 8px;

  color: #98a2b3;

  font-size: 9px;
}

.copyright {
  max-width: 1100px;

  margin: 30px auto 0;
  padding-top: 15px;

  border-top: 1px solid #eeeeee;

  color: #98a2b3;

  font-size: 9px;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .banner {
    padding: 55px 25px;
  }

  .banner-content {
    flex-direction: column;
    text-align: center;
  }

  .banner-text {
    max-width: 650px;
  }

  .banner-buttons {
    justify-content: center;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }

  .stack-box {
    position: static;
  }

  .technology-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 15px;
  }

  .nav-buttons {
    display: none;
  }

  .banner-text h1 {
    font-size: 34px;
  }

  .banner-text p {
    font-size: 12px;
  }

  .banner-illustration {
    width: 270px;
    height: 230px;
  }

  .technology-grid {
    grid-template-columns: 1fr;
  }

  .technology-section {
    padding-left: 18px;
    padding-right: 18px;
  }

  .footer-content {
    grid-template-columns: 1fr;
  }
}
